<section id="shopping-list"></section>
<h2>Shopping List Management</h2>
<div class="shopping-list-container">
  <ng-container *ngFor="let list of shoppingLists$ | async">
    <div class="card-with-popup">

      <app-shopping-list-card
        [shoppingList]="list"
        (viewSharedUsers)="openSharedPopup($event.collaborators, $event.listId, $event.isOwner)"
        (viewList)="showListDetails(list)"
        (markListAsDone)="deleteShoppingList($event)">
      </app-shopping-list-card>


      <app-shopping-list-details
        *ngIf="selectedList && selectedList.id === list.id"
        class="shopping-list-details"
        [list]="list"
        (editList)="editShoppingList($event)"
        (updateItem)="updateItem($event)"
        (deleteList)="deleteShoppingList($event)">
      </app-shopping-list-details>
    </div>
  </ng-container>

  <div class="create-list-card">
    <div class="add-button">
      <button (click)="createShoppingList()">+</button>
    </div>
    <p>Create a New List</p>
  </div>

  <app-shared-with-popup
    *ngIf="showSharedPopup"
    [collaborators]="selectedSharedUsers"
    [isOwner]="isListOwner"
    (close)="closeSharedPopup()"
    (updatePermission)="onUpdatePermission($event)"
    (removeCollaborator)="onRemoveCollaborator($event)">
  </app-shared-with-popup>
</div>
