<footer class="text-center text-white header-footer">
  <div class="container py-3">
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
      <a href="tel:+387123456789" class="mx-3 my-2 text-white">
        <i class="bi bi-telephone-fill"></i>
        +387123456789
      </a>
      <a href="mailto:inquiries&#64;grocerymate.com" class="mx-3 my-2 text-white">
        <i class="bi bi-envelope-fill"></i>
        inquiries&#64;grocerymate.com
      </a>
      <a
        href="https://www.google.com/maps/search/?api=1&query=Hrasnicka+cesta+3a,+Ilidza+71210"
        target="_blank"
        class="mx-3 my-2 text-white"
      >
        <i class="bi bi-geo-alt-fill"></i>
        Hrasnicka cesta 3a, Ilidza 71210
      </a>
    </div>
  </div>

  <div class="text-center text-white p-3" style="background-color: #0B3B5B;">
    © 2025 Copyright:
    <a class="text-white"
       href="https://media.rnztools.nz/rnz/image/upload/s---up7dilw--/c_scale,f_auto,q_auto,w_1050/v1673917056/4LF1EO1_l_intro_1647359651_jpg?_a=BACCd2AD">
      GroceryMate
    </a>
  </div>
</footer>
