<div class="shopping-list-card">
  <div class="owner-info">
    <img [src]="'assets/profile-images/1.jpg'" alt="Owner avatar" class="avatar" width="50" height="50">
    <div class="owner-details">
      <span class="owner-name">{{ shoppingList.ownerName }}</span>
      <span class="list-owner">{{ shoppingList.ownerId === userId ? 'List Owner' : 'Shared with you' }}</span>
    </div>
    <button class="info-button" (click)="onViewSharedUsers(shoppingList.id, shoppingList.ownerId === userId)">
      <mat-icon>info</mat-icon>
    </button>
  </div>

  <div class="list-image">
    <img src="assets/images/list-img-generic1.png" alt="List image" class="background-image" width="100" height="100">
  </div>

  <div class="list-content">
    <h4>{{ shoppingList.name }}</h4>
    <div class="list-details">
      <p class="list-category">{{ shoppingList.category }}</p>
      <p class="list-store">
        <mat-icon>store</mat-icon>
        {{ shoppingList.storeName }}
      </p>
    </div>

    <p class="description-text"><b>List Type:</b> {{ shoppingList.listType }}</p>

    <div class="button-group">
      <button class="view-button" (click)="onViewList()">View List</button>
      <button class="mark-done-button" *ngIf="shoppingList.ownerId === userId" (click)="onMarkAsDone($event)">Mark as Done</button>
    </div>
  </div>
</div>

