<div class="details-container">
  <h2>{{ list.name }}</h2>
  <p class="list-info">{{ list.description }}</p>

  <div class="items-container">
    <div class="item" *ngFor="let item of list.items">
      <img class="item-icon" src="assets/images/item-img-generic.png" alt="Item Icon" width="30" height="30" />
      <div class="item-details">
        <span class="item-name">{{ item.productName }}</span>
        <span class="item-price">{{ item.price }} KM</span>
      </div>
      <span class="item-quantity">{{ item.quantity }}</span>
      <input type="checkbox" class="checkbox" [checked]="item.isChecked" (change)="toggleItemChecked(item)" />
    </div>
  </div>

  <div class="total-price">
    <span class="total-label">Total Price:</span>
    <span class="total-amount">{{ calculateTotalPrice() }} KM</span>
  </div>

  <div class="action-buttons">
    <button class="edit-button" *ngIf="hasEditPermission()" (click)="editShoppingList()">Edit List</button>
    <button class="delete-button" *ngIf="isOwner()" type="button" (click)="onDeleteList()">Delete List</button>
  </div>
</div>
