<div class="popup-overlay">
  <div class="popup">
    <div class="popup-header">
      <h3>Shared With</h3>
    </div>

    <div *ngIf="collaborators.length > 0; else noUsers">
      <div class="users-list">
        <div class="user-item" *ngFor="let user of collaborators"
             [matMenuTriggerFor]="menu"
             [matMenuTriggerData]="{user: user}"
             [class.clickable]="isOwner">
          <mat-icon class="user-icon">person</mat-icon>
          <span class="user-name">{{ user.userName }}</span>
          <mat-icon class="more-icon" *ngIf="isOwner">more_vert</mat-icon>
        </div>
      </div>
    </div>

    <ng-template #noUsers>
      <p class="no-users">This list is not shared with anyone.</p>
    </ng-template>

    <button class="ok-button" (click)="closePopup()">OK</button>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-user="user">
    <ng-container *ngIf="user.permission === PermissionEnum.VIEW">
      <button mat-menu-item
              (click)="onUpdatePermission(user.userId, PermissionEnum.EDIT)"
              [class.selected]="user.permission === PermissionEnum.EDIT">
        <mat-icon>edit</mat-icon>
        <span>Change Permission to Can Edit</span>
      </button>
    </ng-container>
    <ng-container *ngIf="user.permission === PermissionEnum.EDIT">
      <button mat-menu-item
              (click)="onUpdatePermission(user.userId, PermissionEnum.VIEW)"
              [class.selected]="user.permission === PermissionEnum.VIEW">
        <mat-icon>visibility</mat-icon>
        <span>Change Permission to View Only</span>
      </button>
    </ng-container>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="onRemoveCollaborator(user.userId)" class="remove-option">
      <mat-icon>person_remove</mat-icon>
      <span>Remove Collaborator</span>
    </button>
  </ng-template>
</mat-menu>
