<header>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo d-flex align-items-center">
          <img *ngIf="!isAdminPage && !isDashboardPage && !isMyProfilePage && !isShoppingListPage && !isEditProfilePage"
               src="app_logo.jpg" class="logo" alt="logo" (click)="scrollToTop()"
               style="cursor: pointer;" />
          <img *ngIf="isAdminPage || isMyProfilePage || isDashboardPage || isShoppingListPage || isEditProfilePage"
               src="app_logo.jpg" class="logo" alt="logo" (click)="scrollToTopAndActivateHome()"
               style="cursor: pointer;" />
          <span *ngIf="!isAdminPage && !isDashboardPage && !isMyProfilePage && !isShoppingListPage && !isEditProfilePage"
                routerLink="/home" routerLinkActive="active" class="company-name"
                (click)="scrollToTopAndActivateHome()" style="cursor: pointer;">
          GroceryMate
          </span>
          <span *ngIf="isAdminPage" class="company-name" (click)="scrollToTop()" style="cursor: pointer;">
            Admin Dashboard
          </span>
          <span *ngIf="isMyProfilePage" class="company-name" (click)="scrollToTop()" style="cursor: pointer;">
            My Profile
          </span>
          <span *ngIf="isDashboardPage" class="company-name" (click)="scrollToTop()" style="cursor: pointer;">
            User Dashboard
          </span>
          <span *ngIf="isShoppingListPage" class="company-name" (click)="scrollToTop()" style="cursor: pointer;">
            Shopping List
          </span>
          <span *ngIf="isEditProfilePage" class="company-name" (click)="scrollToTop()" style="cursor: pointer;">
            Edit Profile
          </span>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon" *ngIf="isMobileView" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>

        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <!-- Login and Sign in links, visible only if the user is not logged in -->
            <li *ngIf="!isLoggedIn"
                routerLink="/login"
                routerLinkActive="active"
                (click)="activatePage('login')"
                [ngClass]="{'active': activePage === 'login'}">
              Log In
            </li>

            <li *ngIf="!isLoggedIn"
                routerLink="/signup"
                routerLinkActive="active"
                (click)="activatePage('sign-up')"
                [ngClass]="{'active': activePage === 'sign-up'}">
              Sign Up
            </li>


            <!-- Home Page Links, visible only when user is logged in -->
            <li *ngIf="isLoggedIn && !isDashboardPage && !isMyProfilePage && !isAdminPage && !isAdmin && !isShoppingListPage && !isEditProfilePage"
                routerLink="/dashboard"
                routerLinkActive="active"
                (click)="activatePage('dashboard')"
                [ngClass]="{'active': activePage === 'dashboard'}">
              Dashboard
            </li>
            <li *ngIf="isLoggedIn && !isDashboardPage && !isMyProfilePage && !isAdminPage && !isAdmin && !isShoppingListPage && !isEditProfilePage"
                [routerLink]="['/user-profile', loggedInUserId]"
                routerLinkActive="active"
                (click)="activatePage('user-profile')"
                [ngClass]="{'active': activePage === 'user-profile'}">
              My Profile
            </li>
            <li *ngIf="isLoggedIn && !isDashboardPage && !isMyProfilePage && !isAdminPage && !isAdmin && !isShoppingListPage && !isEditProfilePage"
                (click)="scrollToSection('how-it-works')"
                [ngClass]="{'active': activePage === 'how-it-works'}">
              How to Use
            </li>
            <li *ngIf="isLoggedIn && !isDashboardPage && !isMyProfilePage && !isAdminPage && isAdmin && !isShoppingListPage && !isEditProfilePage"
                routerLink="/admin-page"
                routerLinkActive="active"
                (click)="activatePage('admin-page')"
                [ngClass]="{'active': activePage === 'admin-page'}">
              Admin Dashboard
            </li>
            <li *ngIf="isLoggedIn && !isDashboardPage && !isMyProfilePage && !isAdminPage && !isShoppingListPage && !isEditProfilePage"
                (click)="activatePage('log-out')"
                [ngClass]="{'active': activePage === 'log-out'}" class="log-out-button">
              Log Out
            </li>
            <!-- Music Player -->
            <li *ngIf="!isMobileView && !isAdminPage && !isMyProfilePage && !isDashboardPage && !isShoppingListPage && !isEditProfilePage">
              <mat-icon (click)="toggleMusicPopup()" class="music-icon-li">music_note</mat-icon>
            </li>

            <!-- User dashboard specific links -->
            <ng-container *ngIf="isDashboardPage">
              <li routerLink="/home" routerLinkActive="active" (click)="activatePage('home')">Home</li>
              <li (click)="scrollToSection('shopping-list')" [ngClass]="{'active': activePage === 'shopping-list'}">Shopping List</li>
              <li (click)="scrollToSection('favorites-section')" [ngClass]="{'active': activePage === 'favorites'}">Favorites</li>
              <li (click)="scrollToSection('price-comparison')" [ngClass]="{'active': activePage === 'price-comparison'}">Price Comparison</li>
              <li class="music-icon-li" *ngIf="!isMobileView">
                <mat-icon (click)="toggleMusicPopup()">music_note</mat-icon>
              </li>
            </ng-container>

            <!-- My Profile specific links -->
            <ng-container *ngIf="isMyProfilePage">
              <li routerLink="/home" routerLinkActive="active" (click)="activatePage('home')">Home</li>
              <li (click)="scrollToSection('analytics')" [ngClass]="{'active': activePage === 'analytics'}">Analytics</li>
              <li (click)="scrollToSection('notifications')" [ngClass]="{'active': activePage === 'notifications'}">Notifications</li>
              <li *ngIf="!isMobileView">
                <mat-icon (click)="toggleMusicPopup()" class="music-icon-li">music_note</mat-icon>
              </li>
            </ng-container>

            <!-- Edit Profile specific links -->
            <ng-container *ngIf="isEditProfilePage">
              <li routerLink="/home" routerLinkActive="active" (click)="activatePage('home')">Home</li>
              <li [routerLink]="['/user-profile', loggedInUserId]" routerLinkActive="active" (click)="activatePage('user-profile')">My Profile</li>
              <li *ngIf="!isMobileView">
                <mat-icon (click)="toggleMusicPopup()" class="music-icon-li">music_note</mat-icon>
              </li>
            </ng-container>

            <!-- Admin page specific links -->
            <ng-container *ngIf="isAdminPage">
              <li routerLink="/home" routerLinkActive="active" (click)="activatePage('home')">Home</li>
              <li (click)="activatePage('log-out')" [ngClass]="{'active': activePage === 'log-out'}" class="log-out-button">Log Out</li>
              <li *ngIf="!isMobileView">
                <mat-icon (click)="toggleMusicPopup()" class="music-icon-li">music_note</mat-icon>
              </li>
            </ng-container>

            <!-- Shopping List specific links -->
            <ng-container *ngIf="isShoppingListPage">
              <li routerLink="/dashboard" routerLinkActive="active" (click)="activatePage('dashboard')">Dashboard</li>
              <li *ngIf="!isMobileView">
                <mat-icon (click)="toggleMusicPopup()" class="music-icon-li">music_note</mat-icon>
              </li>
            </ng-container>

          </ul>
        </div>
        <div class="music-controls music-popup" *ngIf="isMusicPopupVisible && !isMobileView" #musicPopupDiv>
          <button mat-icon-button (click)="togglePlay()">
            <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
          <input
            type="range"
            id="volume"
            min="0"
            max="1"
            step="0.05"
            [(ngModel)]="volume"
          />
        </div>

        <div class="music-controls mobile-music-controls" *ngIf="isMobileView">
          <button mat-icon-button (click)="togglePlay()">
            <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
          <input
            type="range"
            id="volume-mobile"
            min="0"
            max="1"
            step="0.05"
            [(ngModel)]="volume"
          />
        </div>
      </div>
    </div>
  </div>
  <audio
    #backgroundMusic
    src="/assets/music/background_tune.mp3"
    loop
    [volume]="volume"
    muted
  ></audio>
</header>
