<div class="sidebar">
  <div class="sidebar-header">
    <h2>Sections</h2>
  </div>

  <div class="category-list">
    <div class="category-item"
         *ngFor="let category of categories"
         (click)="toggleCategory(category)"
         [class.selected]="selectedCategoryId === category.id">
      <div class="category-content">
        <mat-icon *ngIf="category.icon" fontSet="material-symbols-outlined">{{ category.icon }}</mat-icon>
        <span class="category-name">{{ category.name }}</span>
      </div>
      <span class="expand-icon">
        <mat-icon>{{ selectedCategoryId === category.id ? 'expand_less' : 'expand_more' }}</mat-icon>
      </span>
    </div>
  </div>
</div>
