<div class="dashboard-container">
  <div class="dashboard-content" *ngIf="!router.url.includes('shopping-list')">
    <app-shopping-list-management (editList)="navigateToShoppingList($event)"
                                  (createAList)="navigateToShoppingList()">
    </app-shopping-list-management>
    <app-favorite-products></app-favorite-products>
    <app-favorite-stores></app-favorite-stores>
    <app-price-comparison></app-price-comparison>
  </div>
  <router-outlet></router-outlet>
</div>
